<html>
<head>
    <style>
      body { background-color: #666; }
    </style>
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/asciinema/asciinema-player.css' %}" />
</head>
<body>
  <asciinema-player src="{{logpath}}"></asciinema-player>
  <script src="{% static 'plugins/asciinema/asciinema-player.js' %}"></script>




  
</body>
</html>
